<div class="container footermodule">
   <div class="row">
      {% if heading_title %}
      <h2>{{ heading_title }}</h2>
      {% endif %}
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 atfooter1">
         <div class="promo-banner space5">
            {{ athtml1 }}
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 atfooter2">
         <div class="promo-banner space5">
            {{ athtml2 }}
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 atfooter3">
         <div class="promo-banner space5">
            {{ athtml3 }}
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 atfooter4">
         <div class="promo-banner space5">
            {{ athtml4 }}
         </div>
      </div>
   </div>
</div>