{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
       <div class="pull-right">
        <a href="{{ export }}" data-toggle="tooltip" title="{{ button_export }}" class="btn btn-primary">Export CSV</a>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>AT Newsletter</h1>
      
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	
	
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-category">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-left">Id</td>
                  <td class="text-left">Email</td>
				          <td class="text-left">Date Added</td>
                </tr>
              </thead>
              <tbody>
                {% for n in newsltr %}
                <tr>
                  <td class="text-left">{{ n.news_id }}</td>
				          <td class="text-left">{{ n.news_email }}</td>
				          <td class="text-left">{{ n.date_added }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>
{{ footer }}